<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Post page">
    <!-- custom CSS -->
    <link href="/stylesheets/post-page.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>BirdSpotter - Post</title>

</head>
<body class="d-flex flex-column h-100">

<!-- Navbar -->
<%- include('navbar.ejs') %>

<main class="flex-shrink-0">

    <div class="h-100 d-flex align-items-start mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="shadow-lg">
                        <div class="d-flex align-items-start">
                            <div class="d-none d-md-block d-lg-block">
                                <img src="<%= post.photoPath %>" class="objectFit" alt="post image"/>
                            </div>

                            <div class="p-5">
                                <div id="post_<%= post.id %>" class="post d-flex bd-highlight">
                                    <h1 class="me-auto"><%= post.title %></h1>

                                    <% if(aut) { %>

                                        <% if(!liked) { %>

                                            <button name="likeButton" type="submit"
                                                    onclick="addLike('<%= username %>','<%= post.id %>')"
                                                    class="btn btn-lg btn-light">
                                                <i class="fa-regular fa-heart"></i>
                                            </button>

                                        <% } else { %>

                                            <button name="likeButton" type="submit"
                                                    onclick="removeLike('<%= username %>','<%= post.id %>')"
                                                    class="btn btn-lg btn-light">
                                                <i class="fa-solid fa-heart"></i>
                                            </button>

                                        <% } %>

                                    <% } %>

                                    <div class="mt-3 bd-highlight"><span class="likes"><%= post.likes %></span>
                                        <% if(post.likes === 1){ %> like
                                        <% }else{ %> likes
                                        <% } %>
                                    </div>
                                </div>
                                <h5 class="text-muted">posted by <a class="text-decoration-none"
                                                                    href="#"><%= post.op %></a></h5>
                                <div class="row flex-grow-0 p-1">
                                    <small class="card-text text-muted"><i
                                                class="fa-solid fa-calendar"></i><%= post.date %></small>
                                    <small class="card-text text-muted"><i class="fa-solid fa-dove"></i><%= post.bird %>
                                    </small>
                                    <small class="card-text text-muted"><i
                                                class="fa-solid fa-location-dot"></i><%= post.location %></small>
                                </div>
                                <div class="custom-form-group mt-3">
                                    <p class="text-wrap text-break"><%= post.comment %></p>
                                </div>
                                <div class="container mt-5">
                                    <h3>Comments</h3>
                                    <div class="d-flex justify-content-center row">
                                        <div class="d-flex flex-column">
                                            <div class="comment-bottom bg-white p-2 px-4">
                                                <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img
                                                            class="img-fluid img-responsive rounded-circle mr-2"
                                                            src="https://i.imgur.com/qdiP4DB.jpg" width="38"
                                                            alt="post image">
                                                    <label>
                                                        <input type="text" class="form-control mr-3"
                                                               placeholder="Add comment">
                                                    </label>
                                                    <button class="btn btn-primary" type="button">Comment</button>
                                                </div>
                                                <div class="commented-section mt-2">
                                                    <div class="d-flex flex-row align-items-center commented-user">
                                                        <h5 class="mr-2"><%= username %>></h5>
                                                        <span class="dot mb-1"></span>
                                                    </div>
                                                    <div class="comment-text-sm">
                                                        <span>

                                                        </span>
                                                    </div>
                                                    <div class="reply-section">
                                                        <div class="d-flex flex-row align-items-center voting-icons">
                                                            <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i><i
                                                                    class="fa fa-sort-down fa-2x mb-3 hit-voting"></i><span
                                                                    class="ml-2">10</span><span
                                                                    class="dot ml-2"></span>
                                                            <h6 class="ml-2 mt-1">Reply</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<%- include('footer.ejs') %>

<!-- Bootstrap core JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<!--FontAwesome-->
<script src="https://kit.fontawesome.com/262955342a.js" crossorigin="anonymous"></script>
<!-- Script for like functionality -->
<script src="javascripts/like.js"></script>
</body>
</html>