<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User profile">
    <!-- custom CSS -->
    <link href="/stylesheets/user-profile.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>BirdSpotter - Profile</title>
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Navbar -->
<%- include('navbar.ejs') %>

<main class="container-fluid p-0 d-flex">

    <div class="container profile-container">

        <img class="rounded-circle mt-1 mb-1"
             width="150px"
             src="../<%= userProfile.picture %>" alt="user picture">
        <div class="username"><%= userProfile.username %></div>
        <div class="bio"><%= userProfile.about %></div>

        <div class="d-flex justify-content-center profile-buttons mt-3">

            <% if(aut) { %>
                <% if (userProfile.username === currentUser.username) { %>
                    <a href="/users/<%= currentUser.username %>/private" class="btn btn-warning"><i
                                class="fa-solid fa-pen-to-square me-2"></i>Edit Profile</a>
                <% } else { %>
                    <button id="follow-button" data-followed="<%= followed %>" class="btn btn-primary">
                        <% if (followed) { %> <i class="fa-solid fa-minus me-2"></i>Unfollow
                        <% } else { %> <i class="fa-solid fa-plus me-2"></i>Follow
                        <% } %>
                    </button>
                <% } %>
            <% } %>
            <button id="shareBtnProfile" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#shareModal"
                    onclick="shareProfile('<%= userProfile.username %>')"><i class="fa-solid fa-share me-2"></i>Share
            </button>
            <%- include('share-modal.ejs') %>
        </div>

        <div class="tabs-container mb-3">
            <a href="/users/<%= userProfile.username %>/posts" id="createdPostsBtn" class="btn tab-link">Created</a>
            <a href="/users/<%= userProfile.username %>/likedposts" id="likedPostsBtn" class="btn tab-link">Liked</a>
            <!-- saved posts are private -->
            <% if(aut) { %>
                <% if(currentUser.username === userProfile.username || currentUser.type === 'admin') { %>
                    <a href="/users/<%= userProfile.username %>/savedposts" id="savedPostsBtn" class="btn tab-link">Saved</a>
                <% } %>
            <% } %>
        </div>

        <% if (posts.length === 0) { %>
            <h2 class="text-center">No posts found :(</h2>
        <% } else { %>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="posts-container">
                <% for (let i = 0; i < posts.length; i++) { %>
                    <% const post = posts[i]; %>
                    <div class="col-12 col-md-3 mx-auto mb-3">
                        <%- include('post-card.ejs', { post: post }) %>
                    </div>
                <% } %>
            </div>
        <% } %>

    </div>

</main>

<!-- Footer -->
<%- include('footer.ejs') %>

<!-- common scripts -->
<%- include('scripts.ejs') %>
<!-- follow functionality -->
<% if(aut) { %>
<script id="follow-script" src="../javascripts/follow.js" data-follower="<%= currentUser.username %>" data-followed="<%= userProfile.username %>"></script>
<% } %>
</body>
</html>
